.main-nav {
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  margin: 10px 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.btn-bottom {
  margin-top: 30px;
}